# Import data from Conflicted Glossary

In [1]:
import pandas as pd

# Load the CSV files into DataFrames
codes_df = pd.read_csv('../_temp/glossary.csv')  # type: ignore
elements_df = pd.read_csv('../_temp/transcripts.csv')  # type: ignore

# Rename columns according to the provided mapping
codes_df = codes_df.rename(columns={
    'Glossary ID': 'code_id',
    'Term': 'term',
    'Description': 'description',
    'Type': 'type',
    'Read more': 'reference',
    'Lat/Long': 'coordinates'
})

elements_df = elements_df.rename(columns={
    'Text ID': 'element_id',
    'Text': 'element_text',
    'Episode ID': 'segment_id',
    'Episode': 'segment_title',
    'Glossary IDs': 'code_ids'
})
# drop the columns that are not element_id, element_text, segment_id, segment_title, code_ids
elements_df = elements_df[['element_id', 'element_text', 'segment_id', 'segment_title', 'code_ids']]

elements_df['code_ids'] = elements_df['code_ids'].fillna('') # type: ignore

# remove any rows in the elements_df where the element_text is empty
elements_df = elements_df[elements_df['element_text'].notnull()]

# create a dataframe with all unique segment_id and segment_title
segment_df = elements_df[['segment_id', 'segment_title']].drop_duplicates()

# create a dataframe series_df with autoincrementing column series_id and series_title and add one row with series_title = 'Conflicted Podcast'
series_df = pd.DataFrame({'series_id': [1], 'series_title': ['Conflicted Podcast']})

# add a column series_id to the segment_df dataframe and set the value to 1 for all rows
segment_df['series_id'] = 1

# create a dataframe with all unique glossary type
code_type_df = codes_df[['type']].drop_duplicates()
# rename the column to type_name
code_type_df = code_type_df.rename(columns={'type': 'type_name'})
# create an incrementing type_id column
code_type_df['type_id'] = range(1, len(code_type_df) + 1)

# Create a column type_id in the codes_df dataframe and map the type_name to the type_id
# Merge the code_type_df with the codes_df on type = type_name
codes_df = codes_df.merge(code_type_df, left_on='type', right_on='type_name', how='left') # type: ignore
codes_df = codes_df.rename(columns={'type_name': 'type_id'})
codes_df = codes_df[['code_id', 'term', 'description', 'type_id', 'reference', 'coordinates']]

In [2]:
# Create a new DataFrame annotations_df with columns element_id, code_id
annotations_df = pd.DataFrame(columns=['element_id', 'code_id'])

# Iterate over each row in elements_df and add rows to annotations_df
rows_to_add = []
for index, row in elements_df.iterrows():
    element_id = row['element_id']
    code_ids = row['code_ids'].split(';')
    for code_id in code_ids if code_ids != [''] else []:
        code_id = int(code_id)
        rows_to_add.append({'element_id': element_id, 'code_id': code_id})

elements_df.drop(columns=['code_ids', 'segment_title'], inplace=True) # type: ignore

# Convert list of rows to DataFrame and concatenate
annotations_df = pd.concat([annotations_df, pd.DataFrame(rows_to_add)], ignore_index=True)

# Convert code_id to int
annotations_df['code_id'] = annotations_df['code_id'].astype(int)

# Add a column annotation_id to annotations_df
annotations_df['annotation_id'] = annotations_df.index

# Define Database

In [3]:
from kanot.db.schema import create_database, drop_database, CodeType, Code, Series, Segment, Element, Annotation
from sqlalchemy import create_engine, Engine
from sqlalchemy.orm import sessionmaker

# Create a connection to the SQLite database
engine: Engine = create_engine('sqlite:///../local_database.db', echo=True)
MySession = sessionmaker(bind=engine)
session = MySession()

drop = True
if drop:
    # Drop all the tables in the database
    drop_database(engine)

# Create the tables in the database
create_database(engine)

2024-07-17 20:39:23,878 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:23,878 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("code_types")
2024-07-17 20:39:23,879 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,879 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("codes")
2024-07-17 20:39:23,879 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,880 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("series")
2024-07-17 20:39:23,880 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,880 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("segments")
2024-07-17 20:39:23,880 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,881 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("elements")
2024-07-17 20:39:23,881 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,881 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("annotations")
2024-07-17 20:39:23,881 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,882 INFO sqlalchemy.engine.Engine
DROP TABLE annotations
2024-07-17 20:39:23,882 INFO sqlalchemy.engine.Engine [no key 0.00014s] ()
2024-07-17 20:39:23,883 INFO sqlalchemy.engine.Engine
DROP TABLE elements
2024-07-17 20:39:23,883 INFO sqlalchemy.engine.Engine [no key 0.00014s] ()
2024-07-17 20:39:23,886 INFO sqlalchemy.engine.Engine
DROP TABLE segments
2024-07-17 20:39:23,887 INFO sqlalchemy.engine.Engine [no key 0.00025s] ()
2024-07-17 20:39:23,887 INFO sqlalchemy.engine.Engine
DROP TABLE codes
2024-07-17 20:39:23,887 INFO sqlalchemy.engine.Engine [no key 0.00017s] ()
2024-07-17 20:39:23,888 INFO sqlalchemy.engine.Engine
DROP TABLE series
2024-07-17 20:39:23,888 INFO sqlalchemy.engine.Engine [no key 0.00015s] ()
2024-07-17 20:39:23,889 INFO sqlalchemy.engine.Engine
DROP TABLE code_types
2024-07-17 20:39:23,889 INFO sqlalchemy.engine.Engine [no key 0.00015s] ()
2024-07-17 20:39:23,890 INFO sqlalchemy.engine.Engine COMMIT
2024-07-17 20:39:23,890 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:23,890 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("code_types")
2024-07-17 20:39:23,890 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,891 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("code_types")
2024-07-17 20:39:23,891 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,891 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("codes")
2024-07-17 20:39:23,891 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,891 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("codes")
2024-07-17 20:39:23,892 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,892 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("series")
2024-07-17 20:39:23,892 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,893 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("series")
2024-07-17 20:39:23,893 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,893 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("segments")
2024-07-17 20:39:23,894 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,894 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("segments")
2024-07-17 20:39:23,894 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,895 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("elements")
2024-07-17 20:39:23,895 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,895 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("elements")
2024-07-17 20:39:23,896 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,896 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("annotations")
2024-07-17 20:39:23,896 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,896 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("annotations")
2024-07-17 20:39:23,896 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-17 20:39:23,897 INFO sqlalchemy.engine.Engine
CREATE TABLE code_types (
	type_id INTEGER NOT NULL,
	type_name TEXT NOT NULL,
	PRIMARY KEY (type_id),
	UNIQUE (type_name)
)


2024-07-17 20:39:23,897 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2024-07-17 20:39:23,898 INFO sqlalchemy.engine.Engine
CREATE TABLE series (
	series_id INTEGER NOT NULL,
	series_title TEXT NOT NULL,
	PRIMARY KEY (series_id)
)


2024-07-17 20:39:23,898 INFO sqlalchemy.engine.Engine [no key 0.00014s] ()
2024-07-17 20:39:23,899 INFO sqlalchemy.engine.Engine
CREATE TABLE codes (
	code_id INTEGER NOT NULL,
	term TEXT NOT NULL,
	description TEXT,
	type_id INTEGER,
	reference TEXT,
	coordinates TEXT,
	PRIMARY KEY (code_id),
	UNIQUE (term),
	FOREIGN KEY(type_id) REFERENCES code_types (type_id)
)


2024-07-17 20:39:23,899 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2024-07-17 20:39:23,900 INFO sqlalchemy.engine.Engine
CREATE TABLE segments (
	segment_id INTEGER NOT NULL,
	segment_title TEXT NOT NULL,
	series_id INTEGER,
	PRIMARY KEY (segment_id),
	UNIQUE (segment_title),
	FOREIGN KEY(series_id) REFERENCES series (series_id)
)


2024-07-17 20:39:23,900 INFO sqlalchemy.engine.Engine [no key 0.00018s] ()
2024-07-17 20:39:23,901 INFO sqlalchemy.engine.Engine
CREATE TABLE elements (
	element_id INTEGER NOT NULL,
	element_text TEXT NOT NULL,
	segment_id INTEGER,
	PRIMARY KEY (element_id),
	FOREIGN KEY(segment_id) REFERENCES segments (segment_id)
)


2024-07-17 20:39:23,902 INFO sqlalchemy.engine.Engine [no key 0.00024s] ()
2024-07-17 20:39:23,903 INFO sqlalchemy.engine.Engine
CREATE TABLE annotations (
	annotation_id INTEGER NOT NULL,
	element_id INTEGER,
	code_id INTEGER,
	PRIMARY KEY (annotation_id),
	CONSTRAINT _element_code_uc UNIQUE (element_id, code_id),
	FOREIGN KEY(element_id) REFERENCES elements (element_id),
	FOREIGN KEY(code_id) REFERENCES codes (code_id)
)


2024-07-17 20:39:23,903 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2024-07-17 20:39:23,904 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
from sqlalchemy import func
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import DeclarativeMeta
from sqlalchemy.exc import IntegrityError
from typing import Any, Hashable

# Define a function to insert data from a DataFrame
def insert_data(df: pd.DataFrame, model: DeclarativeMeta, session: Session) -> None:
    data: list[dict[Hashable, Any]] = df.to_dict(orient='records') # type: ignore
    
    try:
        session.bulk_insert_mappings(model, data) # type: ignore
        session.commit()
    except IntegrityError as e:
        print(f"Unique constraint violation: {e}")
        session.rollback()

# Insert data into the code_types table
insert_data(code_type_df, CodeType, session)

# Insert data into the codes table
insert_data(codes_df, Code, session)

# Insert data into the series table
insert_data(series_df, Series, session)

# Insert data into the segments table
insert_data(segment_df, Segment, session)

# Insert data into the elements table
insert_data(elements_df, Element, session)

# Insert data into the annotations table
insert_data(annotations_df, Annotation, session)

# Close the session
session.close()

2024-07-17 20:39:23,918 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:23,919 INFO sqlalchemy.engine.Engine INSERT INTO code_types (type_id, type_name) VALUES (?, ?)
2024-07-17 20:39:23,919 INFO sqlalchemy.engine.Engine [generated in 0.00040s] [(1, 'Person'), (2, 'Events and Periods'), (3, 'Group'), (4, 'Concept: Cultural and Societal'), (5, 'Geography'), (6, 'Concept: Political and Social'), (7, 'Concept: Economics and Infrastructure'), (8, 'Concept: Terrorism and Security')  ... displaying 10 of 16 total bound parameter sets ...  (15, 'Education and Institutions'), (16, 'Concept: Legal')]
2024-07-17 20:39:23,920 INFO sqlalchemy.engine.Engine COMMIT
2024-07-17 20:39:23,922 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:23,925 INFO sqlalchemy.engine.Engine INSERT INTO codes (code_id, term, description, type_id, reference, coordinates) VALUES (?, ?, ?, ?, ?, ?)
2024-07-17 20:39:23,925 INFO sqlalchemy.engine.Engine [generated in 0.00089s] [(875, 'Zelimkhan Yandarbiyev', 'A Chechen writer and politician who served as President of the Chechen Republic of Ichkeria', 1, 'https://en.wikipedia.org/wiki/Zelimkhan_Yandarbiyev', nan), (338, "Zarqawi's cause", 'Referring to the jihadist campaign led by Abu Musab al-Zarqawi, the leader of al-Qaeda in Iraq during the Iraq War.', 1, 'https://en.wikipedia.org/wiki/Abu_Musab_al-Zarqawi', nan), (837, 'Yugoslavia', 'A historical country in Southeastern and Central Europe for most of the 20th century, until its dissolution in the early 1990s.', 2, 'https://en.wikipedia.org/wiki/Yugoslavia', nan), (618, "YPG (People's Protection Units)", 'A Kurdish militia in Syria that controls a portion of Syrian territory and fought against ISIS.', 3, 'https://en.wikipedia.org/wiki/People%27s_Protection_Units', nan), (434, 'Yemeni Tribalism', "The strong tribal culture within Yemen that significantly influences the country's social and political dynamics.", 4, 'https://en.wikipedia.org/wiki/Yemeni_Crisis_(2011–present)', nan), (444, 'Yemeni Sectarian Landscape', 'The religious and sectarian divisions within Yemen, including various Islamic sects such as Sunnis, Zaidis, and Jarudi Zaidis.', 4, 'https://en.wikipedia.org/wiki/Religion_in_Yemen', nan), (503, 'Yemeni Coast', 'The coastline of Yemen, which is strategically important due to its proximity to key shipping routes and the Bab-el-Mandeb Strait.', 5, 'https://en.wikipedia.org/wiki/Geography_of_Yemen', '14.4990, 46.3666'), (440, 'Yemeni AK-47 Culture', 'The widespread possession and cultural significance of AK-47s among civilians in Yemen.', 4, 'https://en.wikipedia.org/wiki/Yemeni_Crisis_(2011–present)', nan)  ... displaying 10 of 422 total bound parameter sets ...  (913, '2008 Financial Crisis', 'A severe worldwide economic crisis that occurred in the late 2000s, related to the subprime mortgage market and financial instruments like derivatives.', 2, 'https://en.wikipedia.org/wiki/Financial_crisis_of_2007%E2%80%932008', nan), (64, '9/11', 'A series of coordinated terrorist attacks by the Islamist terrorist group al-Qaeda against the United States on the morning of Tuesday, September 11, 2001.', 8, 'https://en.wikipedia.org/wiki/September_11_attacks', nan)]
2024-07-17 20:39:23,928 INFO sqlalchemy.engine.Engine COMMIT
2024-07-17 20:39:23,929 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:23,929 INFO sqlalchemy.engine.Engine INSERT INTO series (series_id, series_title) VALUES (?, ?)
2024-07-17 20:39:23,930 INFO sqlalchemy.engine.Engine [generated in 0.00030s] (1, 'Conflicted Podcast')
2024-07-17 20:39:23,930 INFO sqlalchemy.engine.Engine COMMIT
2024-07-17 20:39:23,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:23,932 INFO sqlalchemy.engine.Engine INSERT INTO segments (segment_id, segment_title, series_id) VALUES (?, ?, ?)
2024-07-17 20:39:23,932 INFO sqlalchemy.engine.Engine [generated in 0.00031s] [(1, 'S1E1 - 9/11', 1), (2, 'S1E2 - War on Terror', 1), (3, 'S1E3 - Iraq', 1), (4, 'S1E4 - Yemen', 1), (5, 'S1E5 - Syria', 1), (6, 'S1E6 - Returning Jihadists', 1), (7, 'S2E1 - World War Iran', 1), (8, 'S2E2 - New World Order', 1)  ... displaying 10 of 51 total bound parameter sets ...  (50, "S4E18: Hezbollah: Israel's Menace or Lebanon's Defender?", 1), (51, 'S4E19: Yemen: In the Shadow of the Imam', 1)]
2024-07-17 20:39:23,933 INFO sqlalchemy.engine.Engine COMMIT
2024-07-17 20:39:23,943 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:23,990 INFO sqlalchemy.engine.Engine INSERT INTO elements (element_id, element_text, segment_id) VALUES (?, ?, ?)
2024-07-17 20:39:23,991 INFO sqlalchemy.engine.Engine [generated in 0.00957s] [(7, "Thomas Small Let's get into it. ", 1), (8, "We'll start this series with an event that catapulted the conflicts of the Middle East into the global consciousness: The Twin Tower attacks on September 11th. ", 1), (9, 'Aimen Dean Okay.', 1), (10, "Thomas Small Right. So, we're just starting. ", 1), (11, 'Aimen Dean Yeah. Go ahead.', 1), (12, "Thomas Small Aimen Dean. How do I introduce Aimen Dean? There is literally no one on Planet Earth like Aimen Dean. Saudi-born, but Bahraini nationali ... (904 characters truncated) ... s his former al-Qaeda – the surviving former al-Qaeda jihadists and their followers want to kill him dead for stabbing them in the back. Aimen Dean. ", 1), (13, 'Aimen Dean Well, that was, you know, a rather ominous introduction. Well, Thomas, how am I going to introduce you? Even after years of knowing you—po ... (715 characters truncated) ... e nuances, the… Understand the Bedouin culture?\' You know, if I want to describe Thomas Small in few words, I would say that he is no small at all. ', 1), (14, "Thomas Small Well, here's the thing, Aimen. I met you and I felt weirdly like I had met some kind of spiritual brother.", 1)  ... displaying 10 of 12396 total bound parameter sets ...  (15609, 'There you will find other fans of the show engaging in heated debates, enlightening conversations, and just generally geeking out over Conflicted related topics.', 51), (15610, 'Conflicted is a Message Heard production. This episode was produced and edited by Harry Stott. Sandra Ferrari is our executive producer. Our theme music is by Matt Huxley and Tom Biddle.', 51)]
2024-07-17 20:39:24,006 INFO sqlalchemy.engine.Engine COMMIT
2024-07-17 20:39:24,013 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:24,023 INFO sqlalchemy.engine.Engine INSERT INTO annotations (annotation_id, element_id, code_id) VALUES (?, ?, ?)
2024-07-17 20:39:24,024 INFO sqlalchemy.engine.Engine [generated in 0.00474s] [(0, 12, 12), (1, 12, 35), (2, 12, 42), (3, 12, 70), (4, 12, 381), (5, 12, 60), (6, 12, 48), (7, 12, 725)  ... displaying 10 of 5505 total bound parameter sets ...  (5503, 15603, 719), (5504, 15606, 719)]
2024-07-17 20:39:24,030 INFO sqlalchemy.engine.Engine COMMIT

/var/folders/qf/j616b9d53yn77zcpky42s5r40000gn/T/ipykernel_31206/2863780145.py:12: SAWarning: relationship 'Annotation.element' will copy column elements.element_id to column annotations.element_id, which conflicts with relationship(s): 'Element.annotations' (copies elements.element_id to annotations.element_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="annotations"' to the 'Annotation.element' relationship. (Background on this warning at: https://sqlalche.me/e/20/qzyx) (This warning originated from the `configure_mappers()` process, which was invoked automatically in response to a user-initiated operation.)
  session.bulk_insert_mappings(model, data) # type: ignore
/var/folders/qf/j616b9d53yn77zcpky42s5r40000gn/T/ipykernel_31206/2863780145.py:9: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  data: list[dict[Hashable, Any]] = df.to_dict(orient='records') # type: ignore

In [5]:
# Step 1: Select a random code item
random_code = session.query(Code).order_by(func.random()).first()

if random_code:
    code_id = random_code.code_id
    print("Random Code ID:")
    print(code_id)
    print("Random Code Item:")
    print(random_code)

    # Step 2: Find all annotations associated with the selected code
    annotations = session.query(Annotation).filter(Annotation.code_id == code_id).all()

    if annotations:
        print('----\nRESULTS\n-----')
        for annotation in annotations:
            print("\nAssociated Annotation:")
            print(annotation)

            # Step 3: Retrieve all elements associated with those annotations
            element_id = annotation.element_id
            element = session.query(Element).filter(Element.element_id == element_id).first()

            if element:
                print("\nAssociated Element:")
                print(element)
            else:
                print("No associated elements found.")
            print("\n")
            print("--------------------------------------------------")
            print("\n")
    else:
        print("No associated annotations found.")
else:
    print("No codes found in the database.")

2024-07-17 20:39:24,036 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-17 20:39:24,038 INFO sqlalchemy.engine.Engine SELECT codes.code_id AS codes_code_id, codes.term AS codes_term, codes.description AS codes_description, codes.type_id AS codes_type_id, codes.reference AS codes_reference, codes.coordinates AS codes_coordinates
FROM codes ORDER BY random()
 LIMIT ? OFFSET ?
2024-07-17 20:39:24,039 INFO sqlalchemy.engine.Engine [generated in 0.00046s] (1, 0)
Random Code ID:
268
Random Code Item:
Code(code_id=268, term=Shahada, description=The Islamic creed declaring belief in the oneness of God and the acceptance of Muhammad as God's prophet. In the context of jihadism, it also refers to martyrdom in the cause of Islam., type_id=10, reference=https://en.wikipedia.org/wiki/Shahada, coordinates=None)
2024-07-17 20:39:24,040 INFO sqlalchemy.engine.Engine SELECT annotations.annotation_id AS annotations_annotation_id, annotations.element_id AS annotations_element_id, annotations.code_id AS annotations_code_id
FROM annotations
WHERE annotations.code_id = ?
2024-07-17 20:39:24,041 INFO sqlalchemy.engine.Engine [generated in 0.00034s] (268,)
----
RESULTS
-----

Associated Annotation:
Annotation(annotation_id=760, element_id=839, code_id=268)
2024-07-17 20:39:24,042 INFO sqlalchemy.engine.Engine SELECT elements.element_id AS elements_element_id, elements.element_text AS elements_element_text, elements.segment_id AS elements_segment_id
FROM elements
WHERE elements.element_id = ?
 LIMIT ? OFFSET ?
2024-07-17 20:39:24,042 INFO sqlalchemy.engine.Engine [generated in 0.00030s] (839, 1, 0)

Associated Element:
Element(element_id=839, element_text=Aimen Dean Absolutely. Because, you know, imagine a life of crime can all be wiped out in an instant if you actually die for this cause, for jihad. That's why they say jihad and martyrdom, or jihad and shahada, are the shortest path to heaven. After this, the fact that the second trait to exhibit—we're talking here about the criminal class—is that they have repressed inner sadism and violence and psychopathic tendencies., segment_id=2)


--------------------------------------------------



Associated Annotation:
Annotation(annotation_id=3536, element_id=10414, code_id=268)
2024-07-17 20:39:24,043 INFO sqlalchemy.engine.Engine SELECT elements.element_id AS elements_element_id, elements.element_text AS elements_element_text, elements.segment_id AS elements_segment_id
FROM elements
WHERE elements.element_id = ?
 LIMIT ? OFFSET ?
2024-07-17 20:39:24,044 INFO sqlalchemy.engine.Engine [cached since 0.001646s ago] (10414, 1, 0)

Associated Element:
Element(element_id=10414, element_text=Aimen:    The events that transpired in Shahadah Square on 8th, September of 1978 as is now called Shahadah Square means Martyr’s Square, massive protests erupted there., segment_id=28)


--------------------------------------------------



Associated Annotation:
Annotation(annotation_id=4445, element_id=12758, code_id=268)
2024-07-17 20:39:24,044 INFO sqlalchemy.engine.Engine SELECT elements.element_id AS elements_element_id, elements.element_text AS elements_element_text, elements.segment_id AS elements_segment_id
FROM elements
WHERE elements.element_id = ?
 LIMIT ? OFFSET ?
2024-07-17 20:39:24,045 INFO sqlalchemy.engine.Engine [cached since 0.002471s ago] (12758, 1, 0)

Associated Element:
Element(element_id=12758, element_text=So, if we go and we take the Shahadah, the Islamic Declaration of Faith, the first half of that declaration, la 'iilah 'iilaa allah, there is no God, but God, there is no God but Allah., segment_id=38)


--------------------------------------------------



Associated Annotation:
Annotation(annotation_id=4447, element_id=12760, code_id=268)
2024-07-17 20:39:24,045 INFO sqlalchemy.engine.Engine SELECT elements.element_id AS elements_element_id, elements.element_text AS elements_element_text, elements.segment_id AS elements_segment_id
FROM elements
WHERE elements.element_id = ?
 LIMIT ? OFFSET ?
2024-07-17 20:39:24,045 INFO sqlalchemy.engine.Engine [cached since 0.003284s ago] (12760, 1, 0)

Associated Element:
Element(element_id=12760, element_text=Do you think that's a fair way, Aimen, of describing the Salafi interpretation of the Shahadah?, segment_id=38)


--------------------------------------------------